@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


@theme {
  --animate-spin-slow: spin 20s linear infinite;
  --animate-bounce-slow: bounce 3s ease-in-out infinite;
  --animate-maskSpin: maskSpin 8s linear infinite;
  --animate-float: float 2s ease-in-out infinite;

  @keyframes maskSpin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}